<!DOCTYPE html>
<html>
    <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <nav>
            <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Logo</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li class="active"><a href="collapsible.html">JavaScript</a></li>
            </ul>
            </div>
        </nav>

        <main class="container">
            <h1><%= titulo %></h1>
            <p>contenedor</p>
            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1' id="button_drop">Drop Me!</a><br><br>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!" style="color: #03A9F4;">one</a></li>
                <li><a href="#!" style="color: #03A9F4;">two</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="#!" style="color: #03A9F4;">three</a></li>
                <li><a href="#!" style="color: #03A9F4;"><i class="material-icons">view_module</i>four</a></li>
                <li><a href="#!" style="color: #03A9F4;"><i class="material-icons">cloud</i>five</a></li>
            </ul>
            
        </main>

        <!--Start Cards-->
        <div class="row">
            <% if (lista_platillos.length > 0) { %>
                <% for (let platillo of lista_platillos) { %>
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="<%= platillo.imagen%>">
                            </div>
                            <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><%= platillo.nombre%><i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><%= platillo.nombre%><i class="material-icons right">close</i></span>
                            <p><%= platillo.descripcion %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }else{ %>
                <h1>AHHHHHHHH</h1>
            <% } %>
        </div>
        <!--End cards-->

        <footer class="page-footer">
            <div class="container">
            <div class="row">
                <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
                </div>
            </div>
            </div>
            <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
            </div>
        </footer>
    <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="/js/materialize.min.js"></script>
        <script>M.AutoInit();</script>
    </body>
</html>